<!DOCTYPE html>
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style.css")
    body
        h1 salut #{prenom}
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime similique rem obcaecati ipsum nulla nihil atque alias, labore neque ducimus quis beatae aperiam, placeat nobis aliquam sed architecto asperiores laudantium.
          
          each val in [1, 2, 3, 4, 5]
            li= val